.row {
    padding: 40px;
}

.contenedor {
    width: auto;
}

.parte1, .parte2 {
    display: inline-block;
    vertical-align: text-top
}

.img-proyecto {
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}