<div class="row">
    <h1>Educacion</h1>
    <div class="col-xs-9 col-lg-9">
        <ul class="container">
            <li>
                <h2>2020</h2>
                <p>Rosario – Santa Fe</p>
            </li>
            <div>
                <h2>Bartender</h2>
                <h3>IGA Rosario</h3>
                <p>Dir.: Rioja 1287, S2000 Rosario, Santa Fe. <br> Tel: 0341 449-7626.</p>
            </div>
        </ul>
        <ul class="container">
            <li>
                <h2>Trabajo 2</h2>
                <h3>(years)</h3>
            </li>
            <div>
                <h2>Complejo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </ul>
        <ul class="container">
            <li>
                <h2>Trabajo 3</h2>
                <h3>(years)</h3>
            </li>
            <div>
                <h2>Complejo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </ul>
    </div>
</div>
