<div class="row">
  <h1>Idiomas</h1>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>  
        </div>
        <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
      [percent]="85"
      [radius]="80"
      [imageSrc]="'../assets/fr.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>  
        </div>
</div>
