.row {
    padding: 40px;
}

div{
    background-color: #a1b5cb;
    text-align: center;
}

#fotoperfil {
    position: absolute;
    border-radius: 100%;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}

#nombre {
    text-align: center;
    font-weight: bold;
}

#profesion {
    font-size: 25px;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    #fotoperfil{
        width: 50%;
        left: 26%;
        bottom: 1px;
    }
    #nombre {
        font-size: 30px;
        margin-top: 70px;
    }
}
  
  @media only screen and (min-width: 600px) {
      #fotoperfil {
          width: 30%;
          left: 13%;
          bottom: 5px;
      }
      #nombre {
          font-size: 35px;
          margin-top: 100px;
      }
  }
  
  @media only screen and (min-width: 768px) {
      #fotoperfil {
          width: 30%;
          left: 12%;
      }
  } 
  
  @media only screen and (min-width: 992px) {
      #fotoperfil {
        width: 25%;
        left: 15%;
      }
  } 
  
  @media only screen and (min-width: 1200px) {
    #fotoperfil {
        width: 20%;
        left: 5%;
      }
      #nombre {
          margin-right: 45%;
      }
      #profesion {
          margin-right: 45%;
      }
  }

