<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="text-center col-12 col-md-5 col-lg-7 parte1">
            <h1>Donation form</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, magnam vitae nesciunt ab necessitatibus totam doloribus temporibus saepe adipisci expedita quasi impedit obcaecati a, cumque, neque iste illum. Vitae, eligendi!</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/donation.png" class="mx-auto d-block img-fluid img-proyecto">
        </div>
    </div>
</div>
